/* FILEPATH: /home/mahe/Documents/mahe dev folder/Drag n Drop/style.css */

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

/* Set box-sizing property for HTML */
html {
  box-sizing: border-box;
}

/* Define custom CSS variables for column colors */
:root {
  --column-1: #a2622d;
  --column-2: #1b6161;
  --column-3: #248224;
  --column-4: #a22d22;
}

/* Set global styles for body */
body {
  margin: 0;
  background: url("./trees.jpg") center/cover fixed;
  color: white;
  font-family: "Quicksand", sans-serif;
  overflow-y: hidden;
}

/* Style headings */
h1 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px black;
}

/* Style the main title */
.main-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
}

/* Reset default styles for unordered lists */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style the drag container */
.drag-container {
  margin: 20px;
}

/* Style the drag list */
.drag-list {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  padding-bottom: 10px;
}

/* Style the drag columns */
.drag-column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow-x: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Style the column headers */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.header h1 {
  font-size: 1.25rem;
  margin: 10px;
}

/* Style the drag items */
.drag-item {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
}

.drag-item:focus {
  outline: none;
  background-color: white;
  color: black;
}

/* Style the add button group */
.add-btn-group {
  display: flex;
  justify-content: space-between;
}

.add-btn {
  margin: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.add-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.add-btn:active {
  transform: scale(0.97);
}

/* Style the plus sign icon */
.plus-sign {
  font-size: 1.5rem;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

/* Style the add container */
.add-container {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 100px;
  display: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.add-item {
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin: 5px auto;
  resize: none;
  color: black;
  padding: 10px;
}

.add-item:focus {
  outline: none;
}

/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .main-title {
    font-size: 2rem;
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  body {
    overflow-y: auto;
  }

  .drag-container {
    margin: 0;
  }

  .drag-list {
    display: block;
    overflow-x: hidden;
  }

  .drag-column {
    margin: 10px;
  }
}